<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
        <parameters>
          <parameter value="mssqllocaldb" />
        </parameters>
      </defaultConnectionFactory>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
    <connectionStrings>
      <add name="SpiderTask" connectionString="Data Source=.;Pooling=true;Min Pool Size=0;Max Pool Size=100000; Initial Catalog=SpiderTask;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    </connectionStrings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <authentication mode="None" />
  </system.web>
  <system.serviceModel>
    <bindings>

      <netTcpBinding>
        <binding name="netTcpBindingConfiguration">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647 " maxArrayLength="2147483647 " maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="httpBinding" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="12000000" />
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wshttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="12000000" />
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SpiderServiceBehavior">
          <webHttp helpEnabled="true" />          
        </behavior>
      </endpointBehaviors>
           
      
    </behaviors>
    
    <services>
      <service name="SpiderService.RequestService">       
        <endpoint address="http://localhost:8088" binding="webHttpBinding" behaviorConfiguration="SpiderServiceBehavior" contract="SpiderContract.IRequestContract" />
        <endpoint address="net.tcp://localhost:8089/" name="Request" binding="netTcpBinding" contract="SpiderContract.IRequestContract" bindingConfiguration="netTcpBindingConfiguration" />

      </service>
     
    </services>

  </system.serviceModel>
  

</configuration>